<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="index.html">
                <img src="assets/images/excenit-logo.jpg" class="l-dark" height="60" alt="">
                <img src="assets/images/excenit-logo.jpg" class="l-light" height="60" alt="">
            </a>
        </div>
        <div class="buy-button">
            <!-- <a href="https://1.envato.market/4n73n" target="_blank">
                <div class="btn btn-dark login-btn-primary">Call for Demo</div>
                <div class="btn btn-dark login-btn-light">Call for Demo</div>
            </a> -->
        </div><!--end login button-->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu nav-light">
                <li><a href="index.html">Home</a></li>
                <li class="has-submenu">
                    <a href="javascript:void(0)">Products</a><span class="menu-arrow"></span>
                    <ul class="submenu megamenu">
                     

                        <li>
                            <ul>
                                <!-- <li><a href="#">Microsoft office 365-all packs<span class="badge badge-danger rounded">New-v1.0</span></a></li> -->
                                <li><a (click)="Ms365Packs()">Microsoft office 365-all packs</a></li>
                                <li><a (click)="MsAzure()">Microsoft Azure solution pack</a></li>
                                <li><a (click)="MsDynamics()">Microsoft Dynamics applications</a></li>
                                <li><a (click)="Infras()">Microsoft Infrasture applications</a></li>
                                <li><a (click)="MsOs()">Microsoft Windows Operation System</a></li>
                                <li><a (click)="Msbi()">Microsoft Power BI</a></li>
                                <li><a (click)="Backpower()">BackPower</a></li>
                                <li><a (click)="Finstar()">Finstar</a></li>
                                <li><a (click)="Brokersure()">Brokersure</a></li>
                                <li><a (click)="RSS()">Return Submission Solution</a></li>


                            </ul>
                        </li>
                       
                    </ul>
                </li>

            
                <li class="has-submenu">
                    <a href="javascript:void(0)">Services</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a (click)="BI()">Business Intelligence and Analytics </a></li>
                        <li><a (click)="OfficeProd()">Office Productivity and Collaborations</a></li>
                        <li><a (click)="Bsysintegration()">Business Systems Integrations</a></li>
                        <li><a (click)="CoreB()">Core Banking Systems Support</a></li>
                        <li><a (click)="Digi()">Business Digitisation</a></li>
                        <li><a (click)="ITconsult()">IT Consultancy</a></li>




                    </ul>
                </li>
                <li><a (click)="Partners()">Partners</a></li>
                <li><a (click)="AboutUs()">About us</a></li>
                <!-- <li><a href="careers.html">Careers</a></li> -->


            </ul><!--end navigation menu-->
            <div class="buy-menu-btn d-none">
                <!-- <a href="https://1.envato.market/4n73n" target="_blank" class="btn btn-primary">Call for Demo</a> -->
            </div><!--end login button-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->


