
<!-- This is the home page of the website -->
<section class="swiper-slider-hero position-relative d-block vh-100" id="home">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center" style=" background: url('assets/images/bg23.gif') center center; transform: translate3d(0px, 0px, 0px); transition: 100ms ease 0s;" data-background="assets/images/bg23.gif">
                    <!-- <div class="slide-inner slide-bg-image d-flex align-items-center" style="background: center center;" data-background="assets/images/images/excenit-logo3.jpg"> -->
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="heading text-white title-dark mb-4">Excenit focuses on
                                        <span
                                           class="txt-rotate"
                                           data-period="2000"
                                           data-rotate='[" Business Technology", "Artificial Intelligence", "Systems Integrations", "Data Science", "Digitisation" ]'></span>
                                      </h1>
                                    <!-- <h1 class="heading text-white title-dark mb-4">Discover the world of <br> Business Solutions Technology</h1> -->
                                    <p class="para-desc mx-auto text-white">Launch of campaign against the new normal, with our business technology we fit into your consumer needs. </p>
                                    
                                    <div class="mt-4 pt-2">
                                        <!-- <a href="javascript:void(0)" class="btn btn-dark">Call for Demo</a> -->
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner --> 
            </div> <!-- end swiper-slide -->

            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center"style=" background: url('assets/images/excenit-logo2jpg') center center;" data-background="assets/images/excenit-logo2jpg.jpg">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="heading text-white title-dark mb-4">Meet our brand <br> new solution</h1>
                                    <p class="para-desc mx-auto text-white-20">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap4 html page.</p>
                                    
                                    <div class="mt-4 pt-2">
                                        <a href="javascript:void(0)" class="btn btn-dark">Call for Demo</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner --> 
            </div> <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->

        <!-- swipper controls -->
        <!-- <div class="swiper-pagination"></div> -->
        <!-- <div class="swiper-button-next border rounded-circle text-center"></div>
        <div class="swiper-button-prev border rounded-circle text-center"></div> -->
    </div><!--end container-->
</section><!--end section-->


<!-- The four Core Services of Excenit Website -->

  <!-- FEATURES START -->
  <section class="section bg-light" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="features-absolute">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="card features explore-feature p-4 px-md-3 border-0 rounded-md shadow text-center">
                                <div class="icons rounded h2 text-center text-dark px-3">
                                    <i class="uil uil-airplay"></i>
                                </div>
    
                                <div class="card-body p-0 content">
                                    <h5 class="mt-4"><a href="javascript:void(0)" class="title text-dark">Business Intelligence</a></h5>
                                    <p class="text-muted">The most well-known which is said to have originated</p>
    
                                    <a href="javascript:void(0)" class="text-dark">Read More <i data-feather="chevron-right" class="fea icon-sm"></i></a>
                                </div>
                            </div>
                        </div><!--end col-->
                        
                        <div class="col-lg-3 col-md-6 col-12 mt-4 mt-md-0 pt-2 pt-md-0">
                            <div class="card features explore-feature p-4 px-md-3 border-0 rounded-md shadow text-center">
                                <div class="icons rounded h2 text-center text-dark px-3">
                                    <i class="uil uil-clipboard-alt"></i>
                                </div>
    
                                <div class="card-body p-0 content">
                                    <h5 class="mt-4"><a href="javascript:void(0)" class="title text-dark">Core Banking Sys. Support</a></h5>
                                    <p class="text-muted">The most well-known which is said to have originated</p>
    
                                    <a href="javascript:void(0)" class="text-dark">Read More <i data-feather="chevron-right" class="fea icon-sm"></i></a>
                                </div>
                            </div>
                        </div><!--end col-->
                        
                        <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                            <div class="card features explore-feature p-4 px-md-3 border-0 rounded-md shadow text-center">
                                <div class="icons rounded h2 text-center text-dark px-3">
                                    <i class="uil uil-credit-card-search"></i>
                                </div>
    
                                <div class="card-body p-0 content">
                                    <h5 class="mt-4"><a href="javascript:void(0)" class="title text-dark">Systems Integrations</a></h5>
                                    <p class="text-muted">The most well-known which is said to have originated</p>
    
                                    <a href="javascript:void(0)" class="text-dark">Read More <i data-feather="chevron-right" class="fea icon-sm"></i></a>
                                </div>
                            </div>
                        </div><!--end col-->
                        
                        <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                            <div class="card features explore-feature p-4 px-md-3 border-0 rounded-md shadow text-center">
                                <div class="icons rounded h2 text-center text-dark px-3">
                                    <i class="uil uil-ruler-combined"></i>
                                </div>
    
                                <div class="card-body p-0 content">
                                    <h5 class="mt-4"><a href="javascript:void(0)" class="title text-dark">IT Systems Consultancy</a></h5>
                                    <p class="text-muted">The most well-known which is said to have originated</p>
    
                                    <a href="javascript:void(0)" class="text-dark">Read More <i data-feather="chevron-right" class="fea icon-sm"></i></a>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="position-relative">
                    <img src="assets/images/coworkers.png" class="img-fluid mx-auto" alt="">
                    <div class="play-icon">
                        <a href="#" class="play-btn video-play-icon">
                            <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                        </a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0" id="aboutus">
                <div class="section-title ml-lg-4">
                    <h4 class="title mb-4">We are the largest <br> Business Technology Experts </h4>
                    <p class="text-muted">Start working with <span class="text-dark font-weight-bold">Excenit</span> that can provide everything you need to generate awareness, drive traffic, connect. What we are good at is building robust software products that gives you the ability to effectively manage your customers needs and as well provide your team with the neccessary tool to deliver customers needs as well.</p>
                    <a  class="btn btn-dark mt-3" (click)="AboutUs()">Read More <i class="mdi mdi-chevron-right"></i></a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->



<!-- Company processes -->

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h6 class="text-dark">Work Process</h6>
                    <h4 class="title mb-4">How do we works ?</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-dark font-weight-bold">Excenit</span> that can provide everything you need to ensure your customers satisfaction, drive company goals and connect them.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class="card features work-process bg-transparent process-arrow border-0 text-center">
                    <div class="icons rounded h1 text-center text-dark px-3">
                        <i class="uil uil-presentation-edit"></i>
                    </div>

                    <div class="card-body">
                        <h4 class="title text-dark">Discussion</h4>
                        <p class="text-muted mb-0" >We discuss the business logic and as well seeking to address the various challenges within the client's space thorughly.</p>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-md-5 pt-md-3 mt-4 pt-2">
                <div class="card features work-process bg-transparent process-arrow border-0 text-center">
                    <div class="icons rounded h1 text-center text-dark px-3">
                        <i class="uil uil-airplay"></i>
                    </div>

                    <div class="card-body">
                        <h4 class="title text-dark">Strategy & Testing</h4>
                        <p class="text-muted mb-0">Performing series of test within our application to prevent bugs and ensure a strategy to be able to tackle as realtime issues arise within the use of the application.</p>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-md-5 pt-md-5 mt-4 pt-2">
                <div class="card features work-process bg-transparent d-none-arrow border-0 text-center">
                    <div class="icons rounded h1 text-center text-dark px-3">
                        <i class="uil uil-image-check"></i>
                    </div>

                    <div class="card-body">
                        <h4 class="title text-dark">Reporting</h4>
                        <p class="text-muted mb-0">We pay attentions to feedbacks recieved from clients to be able to give users the right tool for reporting .</p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    
</section><!--end section-->


<!-- Orass within the excenit website -->


        <!-- counter Start -->
        <section class="section bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title mr-lg-5">
                            <h4 class="title mb-4">Introducing...<br> Orass API for banks</h4>
                            <p class="text-muted">Return Submission Solution- A comprehensive API solution for ORASS</p>
                            <a href="javascript:void(0)" class="btn btn-outline-dark">Start Now <i class="mdi mdi-chevron-right"></i></a>
                         </div>
                     </div><!--end col-->

                    <div class="col-md-6 order-1 order-md-2">
                        <img src="assets/images/laptop.png" class="img-fluid" alt="">
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center" id="counter">
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="counter-box text-center px-lg-4">
                            <h2 class="mb-0 text-dark display-4"><span class="counter-value" data-count="97">3</span>%</h2>
                            <h5 class="counter-head">Happy Client</h5>
                            <p class="text-muted mb-0">info here</p>
                        </div><!--end counter box-->
                    </div><!--end col-->

                    <div class="col-md-4 mt-4 pt-2">
                        <div class="counter-box text-center px-lg-4">
                            <h2 class="mb-0 text-dark display-4"><span class="counter-value" data-count="15">1</span>+</h2>
                            <h5 class="counter-head">Awards</h5>
                            <p class="text-muted mb-0">info here</p>
                        </div><!--end counter box-->
                    </div><!--end col-->

                    <div class="col-md-4 mt-4 pt-2">
                        <div class="counter-box text-center px-lg-4">
                            <h2 class="mb-0 text-dark display-4"><span class="counter-value" data-count="98">3</span>+</h2>
                            <h5 class="counter-head">Project Complete</h5>
                            <p class="text-muted mb-0">info here</p>
                        </div><!--end counter box-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- counter End -->


        <!-- EXcenit blogs from other pages -->

        <section class="section">

            <div class="container mt-100 mt-60">
                <div class="row align-items-center mb-4 pb-2">
                    <div class="col-lg-6">
                        <div class="section-title text-center text-lg-left">
                            <h6 class="text-dark">Blog</h6>
                            <h4 class="title mb-4 mb-lg-0">Reads Our Latest <br> News & Blog</h4>
                        </div>
                    </div><!--end col-->
        
                    <div class="col-lg-6">
                        <div class="section-title text-center text-lg-left">
                            <p class="text-muted mb-0 mx-auto para-desc">Start working with <span class="text-dark font-weight-bold">Excenit</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
        
                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card blog rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="assets/images/blogpost1.png" class="card-img-top rounded-top" alt="...">
                            <div class="overlay rounded-top bg-dark"></div>
                            </div>
                            <div class="card-body content">
                                <h5><a href="javascript:void(0)" class="card-title title text-dark">Design your apps in your own way</a></h5>
                                <div class="post-meta d-flex justify-content-between mt-3">
                                    <!-- <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a></li>
                                    </ul> -->
                                    <a href="page-blog-detail.html" class="text-muted readmore">Read More <i class="mdi mdi-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="author">
                                <!-- <small class="text-light user d-block"><i class="mdi mdi-account"></i> Calvin Carlo</small> -->
                                <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 13th August, 2019</small>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card blog rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="assets/images/blogpost2.png" class="card-img-top rounded-top" alt="...">
                            <div class="overlay rounded-top bg-dark"></div>
                            </div>
                            <div class="card-body content">
                                <h5><a href="javascript:void(0)" class="card-title title text-dark">How apps is changing the IT world</a></h5>
                                <div class="post-meta d-flex justify-content-between mt-3">
                                    <!-- <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a></li>
                                    </ul> -->
                                    <a href="page-blog-detail.html" class="text-muted readmore">Read More <i class="mdi mdi-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="author">
                                <!-- <small class="text-light user d-block"><i class="mdi mdi-account"></i> Calvin Carlo</small> -->
                                <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 13th August, 2019</small>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card blog rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="assets/images/blogpost3.png" class="card-img-top rounded-top" alt="...">
                            <div class="overlay rounded-top bg-dark"></div>
                            </div>
                            <div class="card-body content">
                                <h5><a href="javascript:void(0)" class="card-title title text-dark">Smartest Applications for Business</a></h5>
                                <div class="post-meta d-flex justify-content-between mt-3">
                                    <!-- <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a></li>
                                    </ul> -->
                                    <a href="page-blog-detail.html" class="text-muted readmore">Read More <i class="mdi mdi-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="author">
                                <!-- <small class="text-light user d-block"><i class="mdi mdi-account"></i> Calvin Carlo</small> -->
                                <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 13th August, 2019</small>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        
        
            <!-- <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Schedule a demo with us</h4>
                            <p class="text-muted para-desc mx-auto mb-0">Our Desk engineer at <span class="text-dark font-weight-bold">Excenit </span> is ready to collaborate and connect with you now</p>
                        </div>
                    </div><!--end col-->
                <!-- </div>end row -->
        
                <!-- <div class="row justify-content-center mt-4">
                    <div class="col-lg-7 col-md-10">
                        <form>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email :" required="" aria-describedby="newssubscribebtn">
                                    <div class="input-group-append">
                                        <button class="btn btn-dark submitBnt" type="submit" id="newssubscribebtn">Send us a mail</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </form><!--end form-->
                    <!-- </div>end col -->
                <!-- </div>end row -->
            <!-- </div>end container --> 

        </section>
