
<section class="section">
    <div class="board-image">
        <br><br><br>
            <div class="word" style="color:#fff;">About Us
                <!-- <span style="color:#fff;"
                   class="txt-rotate"
                   data-period="2000"
                   data-rotate='[" Getting in Touch", "Technology", "Systems Integrations", "Data Science.", "Digitisation" ]'></span> -->
                </div>
            <!-- <h1 class="heading text-white title-dark mb-4">Discover the world of <br> Business Solutions Technology</h1> -->                 
     
                

        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h3 class="title"> About Us </h3>
                        
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->

    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="position-relative">
                    <img src="assets/images/coworkers.png" class="img-fluid mx-auto" alt="">
                    <div class="play-icon">
                        <a href="#" class="play-btn video-play-icon">
                            <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                        </a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0" id="aboutus">
                <div class="section-title ml-lg-4">
                    <h4 class="title mb-4">We provide 24/7 support</h4>

                    <p class="text-muted"> Email: <span class="text-dark font-weight-bold">info@excenit.com</span></p>
                    <p class="text-muted"> Phone number:  <span class="text-dark font-weight-bold">+233 295 2798, +233 810 6202</span></p>
                    <p class="text-muted"> Location:  <span class="text-dark font-weight-bold">Jungle Avenue, A&C mall, Self-Service floor</span></p>

                    <div class="col-12 pt-4">
                        <a (click)="Contact()" class="btn btn-outline-dark">contact us<i class="mdi mdi-chevron-right"></i></a>
                    </div><!--end col-->

                    <!-- <a  class="btn btn-dark mt-3" (click)="AboutUs()">Read More <i class="mdi mdi-chevron-right"></i></a> -->
                </div>
            </div><!--end col-->

            
        </div><!--end row-->
    </div><!--end container-->

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-dark">
                        <i class="uil uil-briefcase"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Our Vision</h5>
                        <p class="para text-muted mb-0">It is a long established fact that a reader will be of a page reader will be of at its layout.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-dark">
                        <i class="uil uil-rocket"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Our Mission</h5>
                        <p class="para text-muted mb-0">It is a long established fact that a reader will be of a page reader will be of at its layout.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-dark">
                        <i class="uil uil-crosshairs"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Our Goal</h5>
                        <p class="para text-muted mb-0">It is a long established fact that a reader will be of a page reader will be of at its layout.</p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

</section><!--end section-->
<!-- End -->